---
layout: default
title: "Games"
---

{% assign hero_title = page.title | default: "Games" %}
{% assign hero_image = page.image %}
{% assign game_posts_game = site.posts | where_exp: "post", "post.categories contains 'game'" %}
{% assign game_posts_games = site.posts | where_exp: "post", "post.categories contains 'games'" %}
{% assign game_posts = game_posts_game | concat: game_posts_games | uniq | sort: "date" | reverse %}

<div class="author-page games-page">
  {% if page.content and page.content != "" %}
  <div class="author-about">
    {{ page.content | markdownify }}
  </div>
  {% endif %}

  {% if game_posts.size > 0 %}
  <div class="masonry-grid listrecent">
    {% for post in game_posts %}
      {% include postbox.html %}
    {% endfor %}
  </div>
  {% else %}
  <p class="author-about games-empty">No games available yet.</p>
  {% endif %}
</div>
